body{
  background-color: rgba(255, 255, 255, 1.0);
}

.container {
    background-color: rgba(204, 204, 204, 1.0);
    color: rgb(0, 0, 0);
    border: solid rgba(205, 205, 205, 1.0) 0px 1px 0px 1px;
}

.avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .one {
    background-image: url("/img/steve_profile.jpg");
  }
  